<div class="background">

  <div class="container">
  <div class="row justify-content-center">
    <h2 class="pt-3 ms-3 text-light mb-5">2Amadre</h2>



    <div class="col-4 py-5 box-auth bg-trasparent">
        <div class="row justify-content-center">
          <div class="col-8">
            <h3 class="mb-3 text-light txt-shadow">Accedi</h3>
            <a routerLink="/auth/login" class="btn btn-warning">Accedi</a>
          </div>
          <div class="col-8 mt-5">
            <h4 class="mb-3 text-light txt-shadow">Non sei registrato?</h4>
            <a routerLink="/auth/register" class="btn btn-warning">Registrati</a>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- <p class=" text-light fs-1 intro bg-trasparent px-3">Vuoi entrare in 2Amadre</p> -->
</div>

