<div class="background">
  <div class="container">
    <div class="row justify-content-center align-items-center gap-4">
      <div class="col-6 col-sm-6 col-md-4 py-5 box-auth2">
        <h2 class="hero text-center">Benvenuto in 2Amadre, l'unico database cinematografico la cui nascita è stata come un parto senza epidurale.</h2>
      </div>
      <div class="col-6 col-sm-6 col-md-4 py-5 box-auth bg-trasparent">
        <div class="row justify-content-center">
          <div class="col-8">
            <h4 class="mb-3 text-light txt-shadow">Entra dentro 2Amadre</h4>
            <a routerLink="/auth/login" class="btn btn-warning">Accedi</a>
          </div>
          <div class="col-8 mt-5">
            <h4 class="mb-3 text-light txt-shadow">Registrati in 2Amadre</h4>
            <a routerLink="/auth/register" class="btn btn-warning btn-w">Registrati</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

