<div class="background">
  <h2 class="pt-3 ms-3 text-light">2Amadre</h2>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <h2 class="pt-3 ms-3 mb-5 hero">Benvenuto in 2Amadre, l'unico database cinematografico la cui nascita è stata come un parto senza epidurale.</h2>

      <div class="col-4 py-5 box-auth bg-trasparent">
        <div class="row justify-content-center">
          <div class="col-8">
            <h4 class="mb-3 text-light txt-shadow">Entra dentro 2Amadre</h4>
            <a routerLink="/auth/login" class="btn btn-warning">Accedi</a>
          </div>
          <div class="col-8 mt-5">
            <h4 class="mb-3 text-light txt-shadow">Registrati in 2Amadre</h4>
            <a routerLink="/auth/register" class="btn btn-warning">Registrati</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

