@import "../auth/auth.component.scss";
.backgroundCard{
  background: linear-gradient(to bottom, #000000, #080808, #101010, #151515, #1a1a1a);
  height:200px;
  border-bottom: 1px solid rgba(106, 106, 106, 0.473);
}
.backgroundAbout{
  background-color: #f8f9fa;
  border-radius: 20px;
}
.posterImage{
  height: 260px;
  box-shadow: 1px 1px 5px black;
}
.cardFavourite{
  width: 220px;
  box-shadow: 1px 1px 5px black;
  border: 1px solid rgb(106, 106, 106);
  transition: 0.3s;
}
.cardFavourite:hover{
  transform: scale(1.1);
  z-index: 2;
}

.pointer {
  cursor: pointer;
}
.toptext{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titleuser{
  margin-top: 130px;
  text-shadow: 1px 1px 6px black;
}

.text-black{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.pref-line, .info-line{
  border-bottom: 1px solid rgba(106, 106, 106, 0.64);
}

.card{
  box-shadow: 1px 1px 4px rgb(255, 255, 255);
}

.showAll{
  color:#c89601;
}

.img-fluid{
  box-shadow: 1px 1px 5px black;
  border: 1px solid rgb(106, 106, 106);
  width: 150px;
  z-index: 1;
}

.btn{
  box-shadow: 1px 1px 5px black;
}

.infoProfilo{
  height: 60vh;
}

.avatar-selection-popup {
  z-index: 2;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #202020;
  padding: 20px;
  border: 2px solid #FFC107;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.avatar-thumbnail {
  cursor: pointer;
  margin: 5px;
  border: 2px solid white
}

.avatarImg {
  width:  100px;
  height: 100px;
}

@media (max-width: 517.90px){
  .toptext{
    display:none;
  }
}

@media (max-width: 482px){
  .cardFavourite{
    margin-left: -40px;
  }
}
