
<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row backgroundCard">
            <div class="ms-4 mt-5 d-flex flex-column" >
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              <button type="button" class="btn btn-dark btn-outline-warning"
              style="z-index: 1;">
                Edit photo
              </button>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5 class="text-warning">{{username}}</h5>
            </div>
          </div>
          <div class="p-4 text-black bg-trasparent">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 text-light h5">{{allFavorites.length}}</p>
                <p class="small text-warning mb-0 me-3">Favorites</p>
              </div>
              <div>
                <p class="mb-1 text-light h5">253</p>
                <p class="small text-warning mb-0 me-3">Film Guardati</p>
              </div>
              <div>
                <p class="mb-1 text-light h5">253</p>
                <p class="small text-warning mb-0">Serie TV Guardate</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-2">Informazioni Profilo</p>
              <div class="p-4 backgroundAbout" *ngIf="currentUser">
                <p class="font-italic mb-1">{{currentUser.nome}}</p>
                <p class="font-italic mb-1">{{currentUser.email}}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Favourites</p>
              <p class="mb-0"><a routerLink="favorites" class="text-muted">Mostra Tutti</a></p>
            </div>
            <div *ngIf="!allFavorites.length" class="text-center pt-5">
              <h6>Oops, sembra non hai ancora aggiunto nessun titolo ai preferiti, </h6>
              <h6>aggiungine uno per mostrarlo qui!</h6>
            </div>
            <div *ngIf="allFavorites.length" class="row justify-content-center">
              <div *ngFor="let fav of allFavorites" class="col-md-3 col-lg-4 my-3">
                <div class="cardFavourite">
                  <a [routerLink]="['/dashboard/title', fav.imdbID]"><img [src]="fav.Poster" class="card-img-top posterImage" alt="..."></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
