@import "../auth/auth.component.scss";
.backgroundCard{
  background: linear-gradient(to bottom, #000000, #080808, #101010, #151515, #1a1a1a);
  height:200px;
}
.backgroundAbout{
  background-color: #f8f9fa;
  border-radius: 20px;
}
.posterImage{
  height: 260px;
  box-shadow: 1px 1px 5px black;
}
.cardFavourite{
  width: 220px;
  box-shadow: 1px 1px 5px black;
  border: 1px solid rgb(106, 106, 106);
  transition: 0.3s;
}
.cardFavourite:hover{
  transform: scale(1.1);
  z-index: 2;
}

.pointer {
  cursor: pointer;
}
