<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css"
/>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
      <div class="card border-0 shadow">
        <img src="{{ movie.Poster }}" alt="..." />
        <div class="card-body p-1-9 p-xl-5">
          <div class="mb-4">
            <h3 class="h4 mb-0">Release Date</h3>
            <p>{{ movie.Released }}</p>
          </div>
          <div>
            <h4>Durata</h4>
            <p>{{ movie.Runtime }}</p>
          </div>
          <div>
            <h5>Generi</h5>
            <p>{{ movie.Genre }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="ps-lg-1-6 ps-xl-5">
        <div class="mb-5 wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn">
            <h2 class="h1 mb-0 text-primary">{{ movie.Title }}</h2>
          </div>
          <p>
            {{ movie.Plot }}
          </p>
        </div>
        <div class="mb-5 wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn">
            <h2 class="mb-0 text-primary">Informations</h2>
          </div>
          <div class="row mt-n4">
            <div class="col-sm-6 col-xl-4 mt-4">
              <div class="card text-center border-0 rounded-3">
                <div class="card-body">
                  <i class="ti-bookmark-alt icon-box medium rounded-3 mb-4"></i>
                  <h3 class="h5 mb-3">Director</h3>
                  <p class="mb-0">
                    {{ movie.Director }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4 mt-4">
              <div class="card text-center border-0 rounded-3">
                <div class="card-body">
                  <i class="ti-pencil-alt icon-box medium rounded-3 mb-4"></i>
                  <h3 class="h5 mb-3">Actors</h3>
                  <p class="mb-0">
                    {{ movie.Actors }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4 mt-4">
              <div class="card text-center border-0 rounded-3">
                <div class="card-body">
                  <i class="ti-medall-alt icon-box medium rounded-3 mb-4"></i>
                  <h3 class="h5 mb-3">Writers</h3>
                  <p class="mb-0">
                    {{ movie.Writer }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <p class="d-inline-flex gap-1">
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Awards
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is
              hidden by default but revealed when the user activates the
              relevant trigger.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
