<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css"
/>
<div class="container">
  <h2 class="myColorText h1 mb-0 main-title">{{ movie.Title }}</h2>
  <div class="row justify-content-center">
    <div class="card col-md-7 col-lg-4 mb-5 mb-lg-0 mt-4">
      <div class="card shadow mt-4">
        <img class="posterImm" src="{{ movie.Poster }}" alt="..." />
        <p *ngIf="!mostraVideo" (click)="mostraTrailer()" class="text-center pt-3 pb-0 myColorText pointer">- Mostra Trailer -</p>
        <p *ngIf="mostraVideo" (click)="mostraTrailer()" class="text-center pt-3 pb-0 myColorText pointer">- 2Amadre Trailer -</p>
        <video *ngIf="mostraVideo" controls poster="">
          <source src="{{ videoPath }}" type="video/mp4">
          Il tuo browser non supporta il tag video.
        </video>

        <div class="card-body p-1-9 p-xl-5 row">
          <!--INFORMAZIONI SOTTO LA IMMAGINE DEL FILM-->
          <div class="col-6">
            <div class="mb-4">
              <h3 class="myColorText h4 mb-0">Data di Rilascio</h3>
              <p class="pb-2">{{ movie.Released }}</p>
            </div>
            <div>
              <h4 class="myColorText">Durata</h4>
              <p class="pb-2">{{ movie.Runtime }}</p>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex align-items-center justify-content-end">
              <img
                class="icon-rating"
                src="../../../../assets/rotten_tomatoes.png"
              />

              <span class="ps-2 text-light" *ngFor="let voto of movie.Ratings; let i = index">
                <ng-container *ngIf="i === 1">
                  {{ voto.Value }}
                </ng-container>
              </span>
            </div>
            <div class="d-flex align-items-center justify-content-end mt-5">
              <img
                class="icon-rating"
                src="../../../../assets/metacritic.png"
              />
              <span class="ps-2 text-light" *ngFor="let voto of movie.Ratings; let i = index">
                <ng-container *ngIf="i === 2">
                  {{ voto.Value }}
                </ng-container>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 mb-1">
      <div class="ps-lg-1-6 ps-xl-5">
        <div class="mb-5 wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn"></div>
          <p class="plot-color py-3 px-4">
            <span class="myColorText">TRAMA:</span> {{ movie.Plot }}
          </p>
          <div class="d-flex justify-content-between">
            <div class="myColorText fw-bold">{{movie.Type | uppercase }}</div>
            <div class="text-light movieGen">
              Genere: <span class="text-light fw-bold">{{ movie.Genre }}</span>
            </div>
            <div class="align-items-center">
              <div class="col-12 text-light">
                <img
                  class="logo2Amadre pe-2"
                  src="../../../../assets/images/logo.png"
                />{{ movie.imdbRating }}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-star-half"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"
                  />
                </svg>
              </div>
              <div class="col-12 text-light">{{ movie.imdbVotes }} voti</div>
            </div>
          </div>
        </div>
        <div class="mb-5 wow fadeIn">
          <div class="text-start mb-1-6 wow fadeIn">
            <h2 class="mb-0 myColorText text-center">Informazioni</h2>
          </div>

          <!--ATTORI E REGISTI-->

          <div class="row mt-n4 d-block">
            <!--CARD REGISTA-->
            <div class="mt-4">
              <div class="card rounded-3">
                <div class="card-body d-flex align-items-center">
                  <img
                    class="icon_titlee pb-2"
                    src="../../../../assets/director-chair.png"
                  />
                  <div>
                    <h3 class="myColorText h5 mb-3">Regista</h3>
                    <p class="mb-0 text-consigliati">
                      {{ movie.Director }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--CARD ATTORI-->
            <div class="mt-4">
              <div class="card rounded-3">
                <div class="card-body d-flex align-items-center">
                  <img
                    class="icon_title pb-2"
                    src="../../../../assets/actor.png"
                  />
                  <div>
                    <h3 class="myColorText h5 mb-3">Attori</h3>
                    <p class="mb-0 text-consigliati">
                      {{ movie.Actors }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--CARD SCRITTORE-->
            <div class="mt-4">
              <div class="card rounded-3">
                <div class="card-body d-flex align-items-center">
                  <img
                    class="icon_title pb-2"
                    src="../../../../assets/scenario.png"
                  />
                  <div>
                    <h3 class="myColorText h5 mb-3">Scrittori</h3>
                    <p class="mb-0 text-consigliati">
                      {{ movie.Writer }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <!--CARD PREMI & NOMINATIONS-->
            <div class="mt-4">
            <div class="card rounded-3">
              <div class="card-body d-flex align-items-center">
                <img
                  class="icon_title pb-2"
                  src="../../../../assets/trophy.png"
                />
                <div>
                  <h3 class="myColorText h5 mb-3">Premi e nomination</h3>
                  <p class="mb-0 text-consigliati">
                    {{ movie.Awards }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- EXTRA -->
      <div class="pippo-padding">
        <div class="row align-items-center">
          <p class="d-inline-flex gap-1 col-2">
            <button
              class="icon_title"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <img
                src="../../../../assets/extra.png"
                alt="Dropdown"
                class="icon_extra"
              />
            </button>
          </p>
          <div class="collapse col-6" id="collapseExample">
            <div class="card card-body d-flex">
              <span class="myColorText py-0">Paesi in cui è stato girato: </span><p>{{ movie.Country }}</p>
              <span class="myColorText py-0">Incasso:</span><p> {{ movie.BoxOffice }}</p>
              <span class="myColorText py-0">Lingua/e: </span><p>{{ movie.Language }}</p>
            </div>
          </div>
        </div>
      </div>
      <!--fine-->
    </div>
    <div class="mt-5 posterImm">
      <h4><span class="myColorText">2Amadre</span><span class="text-consigliati">ti consiglia anche ...</span></h4>
    </div>

    <div class="row container">
      <div *ngFor="let movie of shuffledArray" class="col-md-3 col-lg-2 mx-lg-3 my-3">
        <div class="cardConsigliati">
          <a (click)="scrollToTop()" [routerLink]="['/dashboard/title', movie.imdbID]"><img [src]="movie.Poster" class="card-img-top posterImage" alt="..."></a>
          <div class="card-body text-center cardbodydown">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
