<h1 class="text-center text2Amadre pt-2">I Tutorial di 2Amadre</h1>



<div class="container  py-5">
  <!-- container pagina -->

  <!-- Tutorial 2Amadre -->
  <div class="paddingTutorials d-flex blockLimit">
    <img
      class="immTutorial pe-3"
      src="../../../assets/come-guardare-film.jpeg"
    />
    <div>
      <a href="https://www.wikihow.it/Guardare-un-Film" class="text2Amadre"
        ><h3>Come Guardare un Film</h3></a
      >
      <p>
        Guardare un film è uno dei piaceri più semplici dell'era moderna.
        Raccontare una storia con un film non è semplice, mentre tutti hanno la
        possibilità di sedersi sul...
      </p>
    </div>
  </div>

  <!-- Tutorial 2Amadre -->
  <div class="paddingTutorials d-flex blockLimit">
    <img
      class="immTutorial pe-3"
      src="../../../assets/porno-secret.jpeg"
    />
    <div>
      <a href="https://www.wikihow.it/Evitare-che-Ti-Scoprano-Mentre-Guardi-Video-Pornografici" class="text2Amadre"
        ><h3>Guarda p*rno in modo sicuro</h3></a
      >
      <p>
        Essere colti in flagrante mentre guardi un video pornografico può essere
        umiliante e rovinare la fiducia. Ecco qualche consiglio per evitare di
        ritrovarti in...
      </p>
    </div>
  </div>

  <!-- Tutorial 2Amadre -->
  <div class="paddingTutorials d-flex blockLimit">
    <img
      class="immTutorial pe-3"
      src="../../../assets/come-fare-popocorn.jpeg"
    />
    <div>
      <a href="https://www.wikihow.it/Preparare-i-Popcorn" class="text2Amadre"
        ><h3>Come preparare i Popcorn</h3></a
      >
      <p>
        I popcorn ci fanno compagnia da moltissimi anni. Sono con noi nei parchi
        a tema, alle giostre, nei centri commerciali e al cinema. Vediamo come
        possiamo portarli anche a casa nostra in un modo semplice e...
      </p>
    </div>
  </div>

  <!-- Tutorial 2Amadre -->
  <div class="paddingTutorials d-flex blockLimit">
    <img
      class="immTutorial pe-3"
      src="../../../assets/come-pulire-denti.jpeg"
    />
    <div>
      <a href="https://www.wikihow.it/Togliere-i-Popcorn-dai-Denti" class="text2Amadre"
        ><h3>Come togliere i Popcorn dai denti</h3></a
      >
      <p>
        Un pezzetto di popcorn rimasto incastrato tra i denti può causare
        irritazione e anche un po' di dolore. Diversamente da molti altri cibi,
        i residui di questo alimento non si sciolgono facilmente con la saliva e...
        gengivale.
      </p>
    </div>
  </div>

  <!-- Tutorial 2Amadre -->
  <div class="paddingTutorials d-flex blockLimit">
    <img
      class="immTutorial pe-3"
      src="../../../assets/come-ridere.jpeg"
    />
    <div>
      <a href="https://www.wikihow.it/Ridere" class="text2Amadre"
        ><h3>Come ridere</h3></a
      >
      <p>
        Avrai probabilmente sentito dire che la risata è la migliore medicina,
        ma sapevi che è un vero toccasana per la salute? Aiuta ad alleviare lo
        stress e la tensione, favorisce l'...
      </p>
    </div>
  </div>

  <!-- Tutorial 2Amadre -->
  <div class="paddingTutorials d-flex blockLimit">
    <img
      class="immTutorial pe-3"
      src="../../../assets/come-spaventarsi.jpeg"
    />
    <div>
      <a href="https://www.wikihow.it/Spaventarsi-da-Solo" class="text2Amadre"
        ><h3>Come spaventarsi da soli</h3></a
      >
      <p>
        Hai un singhiozzo tremendo? Ti stai annoiando ad un pigiama party?
        Qualunque sia la ragione, riuscire a spaventarsi non è così semplice, ma
        se ce la fai può essere molto...
      </p>
    </div>
  </div>
  <!-- container pagina -->
</div>

