.text2Amadre{
  color:#FFC107
}
li{
  font-size: 1.5rem;
}
a{
  text-decoration: none
}
.immTutorial{
  height: 150px;
}
.blockLimit{
  max-width: 700px;
}
p{
  color: white;
}
.paddingTutorials{
  padding-top: 15px;
  padding-bottom: 15px;
}
