<div class="background">
  <h5 class="pt-3 ms-3 pointer" routerLink="/auth">
    <span class="bg-trasparent px-3 py-2 rounded rounded-4 border border-warning">Torna indietro</span>
  </h5>
  <div class="container">
    <div class="row justify-content-center">
  <div class="col-6 col-lg-4 py-5 px-3 mt-5 box-auth bg-trasparent">
    <div class="row justify-content-center main">
      <h4 class="col-lg-8 mb-3 text-light txt-shadow">Registrazione</h4>
      <form class="col-lg-8">
        <input [(ngModel)]="registerData.nome" name="nome" type="text" class="form-control mt-1" placeholder="Nome*">
        <input [(ngModel)]="registerData.username" name="username" type="text" class="form-control mt-1" placeholder="Username">
        <input [(ngModel)]="registerData.email" name="email" type="email" class="form-control mt-1" placeholder="Email*">
        <input [(ngModel)]="registerData.password" name="password" type="password" class="form-control mt-1" placeholder="Password*">
        <button
        (click)="save()"
        class="btn btn-warning mt-3">Registrami</button>
      </form>
    </div>
  </div>
  </div>
  </div>
</div>
