.logo{
    width: 100px;
    height: 80px;
    padding: 5px;
}

header{
    background: linear-gradient(to bottom, #000000, #080808, #101010, #151515, #1a1a1a);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(128, 128, 128, 0.436);
}

.nav-link{
    color:#FFC107;
    font-weight:bold;
    text-shadow: 1px 1px 6px black;
    transition: 0.3s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link:hover{
    transform: scale(1.2);
    z-index: 2;
}