<div class="background">
  <h5 class="pt-3 ms-3 pointer" routerLink="/auth">Torna indietro</h5>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 col-lg-4 py-5 box-auth bg-trasparent">
        <div class="row justify-content-center">
          <h4 class="col-lg-8 mb-3 text-light txt-shadow">Login</h4>
          <form class="col-lg-8">
            <input type="email" [(ngModel)]="loginData.email"
            name="email" class="form-control mt-1" placeholder="Email">
            <input type="password" [(ngModel)]="loginData.password"
            name="password" class="form-control mt-1" placeholder="Password">
            <button (click)="saveLogin()" class="btn btn-warning mt-3">Login</button>
            <div *ngIf="errorMessage" class="bg-danger mt-3 rounded rounded-3 px-2 py-2 text-light">
              Credenziali Non Valide
            </div>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>


