<div class="background">
  <h2 class="mt-3 ms-3 pointer text-light" routerLink="/auth">Back Start</h2>
  <div class=" py-5 px-3 mt-5 box-auth bg-trasparent">
    <div class="row main ">
      <h4 class="col-8 mb-3 text-light txt-shadow">Login</h4>
      <form class="col-8">
        <input type="email" [(ngModel)]="loginData.email"
        name="email" class="form-control mt-1" placeholder="Email">
        <input type="password" [(ngModel)]="loginData.password"
        name="password" class="form-control mt-1" placeholder="Password">
        <button (click)="saveLogin()" class="btn btn-warning mt-3">Login</button>
       </form>
       <div *ngIf="errorMessage" class="bg-danger mt-3 rounded rounded-3 py-2">
        Credenziali Non Valide
       </div>
    </div>
  </div>
</div>


