.bodyDashboard{
  height: 100vh;
}
.btn{
    font-weight: bold;
    box-shadow: 1px 1px 5px black;
}

option{
    background-color:rgb(40, 40, 40);
    color:#FFC107;
}

.card{
    width: 220px;
    height: 470px;
    box-shadow: 1px 1px 5px black;
    border: 1px solid rgb(106, 106, 106);
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.1);
    z-index: 2;
}

.posterImage{
    height: 260px;
    box-shadow: 1px 1px 5px black;
}

.card-body{
    height: 200px;
    background: linear-gradient(to bottom, #000000, #080808, #101010, #151515, #1a1a1a);
    border-top: 1px solid rgba(128, 128, 128, 0.286);
}

.card-title{
    color:rgb(213, 213, 213);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    height: 90px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card-text{
    border-top: 1px solid rgba(128, 128, 128, 0.433);
    border-bottom: 1px solid rgba(128, 128, 128, 0.433);
    color:rgb(213, 213, 213);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#star-fill{
    cursor:pointer;
}

#star-empty{
    cursor:pointer;
}
@media (max-width: 1199.98px) {
    .card {
      width: 180px;
    }
  }

  @media (max-width: 767.90px) and (min-width: 456px) {
    .card {
    margin-left: 40px;
    }

  }

  @media (max-width: 767.90px){
    .form1 {
        margin-top: 5px;
    }

    .form2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .btn-block {
        margin-top: 5px;
    }

    .divButton{
        display:flex;
        justify-content: center;
    }
  }
