.btn{
    font-weight: bold;
    box-shadow: 1px 1px 5px black;
}

option{
    background-color:rgb(40, 40, 40);
    color:#FFC107;
}

.card{
    width: 300px;
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
}

.card img{
    height: 350px;
    box-shadow: 1px 1px 5px black;
}

.card-body{
    height: 180px;
}

.contButtons{
    margin-left: -15px;
}

