<form action="" ngModule>
  <input [(ngModel)]="movie" name="movie" type="text">
  <button (click)="test()">Test</button>
</form>
<div class="row">
  <div *ngFor="let movie of movies[0]" class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="{{movie.Poster}}" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">{{movie.Title}}</h5>
        <p class="card-text">{{movie.Year}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

{{movies | json}}
