<h6 class="pt-3 ms-3 pointer text-warning" routerLink="/user-page">
  <span class="bg-trasparent px-3 py-2 rounded rounded-4 border border-warning">Torna indietro</span>
</h6>
<div class="container text-center text-warning">
  <h3>I miei Preferiti</h3>
  <div class="row justify-content-center">
    <div *ngFor="let fav of allFavorites" class="col-md-3 col-lg-2 mx-lg-3 my-3">
      <div class="card">
        <a [routerLink]="['/dashboard/title', fav.imdbID]"><img [src]="fav.Poster" class="card-img-top posterImage" alt="..."></a>
      </div>
    </div>
  </div>
</div>
